

body{background:url(../images/bg_body.png) left top repeat-x #f0f0f0}
.container{position:relative;}
.container_nav{width:1021px;height:97px;margin:160px auto 30px auto;background:url(../images/bg_nav.png) center center no-repeat;}
 
.logo{position:absolute;top:-122px;left:47px;display:block;}
.logo_txt{font-size:20px;color:#5f431b;text-shadow:0px 1px 0px #e1caae;display:block;height:50px;line-height:50px;font-weight:bold;text-align:center;ma}
 
.nav{float:left;margin:-126px 0 0 340px;}
.nav li{float:left;text-align:center;height:195px;position:relative;}
.nav_txt{font-size:16px;color:#5f431b;text-shadow:0px 1px 0px #e1caae;display:block;height:40px;line-height:40px;font-weight:bold;}
.nav .focus , .nav_txt:hover ,.logo_txt:hover , nav li:hover .nav_txt{color:#35230a;}
.navItem_1{margin-right:60px;}
.navItem_2{margin-right:130px;}
.navItem_3{margin-right:70px;}
.icon_nav_2{margin:19px 0 0 0;}
.icon_nav_3{margin:26px 0 0 0;}
.icon_nav_4{margin:37px 0 0 0;}

/*首页隔板*/
.container_geban{width:934px;height:380px;background:url(../images/bg_geban.png) center bottom no-repeat;margin:0 auto;}
.container_indexmain{width:100%;height:100%;}
.diannao{position:absolute;left:50%;margin-left:-210px;bottom:52px;}

/*首页轮播*/
.lunbo_tip , .lunbo , .lunbo li , .lunbo li a{width:349px;height:197px;}
.lunbo ,  .lunbo_tip {position:absolute;z-index:1;left:34px;}
.lunbo{top:16px;}
.lunbo li {position:absolute;left:0;top:0;text-align:center;overflow:hidden;}

.lunbo_tip{bottom:95px;height:0px;z-index:3}
.lunbo_tip , .lunbo_tip li{text-align:center;}
.lunbo_tip li{display:inline-block;width:8px ;height:8px;background:#fff;border-radius:100px;cursor:pointer;background-position:center center;background-repeat:no-repeat;}
.lunbo_tip .focus{background:#ff8b00;}


@keyframes choose
{
	from {
		transform: rotate(20deg);
		-ms-transform:rotate(20deg);
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		-o-transform:rotate(20deg);
	}
	to {
		transform: rotate(-20deg);
		-ms-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		-webkit-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	}
}

@-moz-keyframes choose
{
	from {
		transform: rotate(20deg);
		-ms-transform:rotate(20deg);
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		-o-transform:rotate(20deg);
	}
	to {
		transform: rotate(-20deg);
		-ms-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		-webkit-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	}
}

@-webkit-keyframes choose
{
	from {
		transform: rotate(20deg);
		-ms-transform:rotate(20deg);
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		-o-transform:rotate(20deg);
	}
	to {
		transform: rotate(-20deg);
		-ms-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		-webkit-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	}
}

@-o-keyframes choose
{
	from {
		transform: rotate(20deg);
		-ms-transform:rotate(20deg);
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		-o-transform:rotate(20deg);
	}
	to {
		transform: rotate(-20deg);
		-ms-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		-webkit-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	}
}

.choose{width:66px;height:48px;position:absolute;margin:-3px 0 0 117px;background:url(../images/choose.png) center center no-repeat;
	transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	animation: choose infinite alternate 0.7s ease-in-out;
	-moz-animation: choose infinite alternate 0.7s ease-in-out;
	-webkit-animation: choose infinite alternate 0.7s ease-in-out;
	-o-animation: choose infinite alternate 0.7s ease-in-out;
}

.m_center{margin:0 auto;}
/*首页蔓藤*/
.container_manteng{width:410px;margin-bottom:20px;}
.ye{position:absolute;z-index:1;}
.ye1{left: -9px;top: 66px;
	transform-origin: 20px 2px;
	-moz-transform-origin: 20px 2px;
	-webkit-transform-origin: 20px 2px;
	-o-transform-origin: 20px 2px;
	animation: ye1 infinite alternate 0.8s ease-in-out;
	-moz-animation: ye1 infinite alternate 0.8s ease-in-out;
	-webkit-animation: ye1 infinite alternate 0.8s ease-in-out;
	-o-animation: ye1 infinite alternate 0.8s ease-in-out;
}
.ye2{left: 4px;top: 118px;
	transform-origin: 30px 9px;
	-moz-transform-origin: 30px 9px;
	-webkit-transform-origin: 30px 9px;
	-o-transform-origin: 30px 9px;
	animation: ye2 infinite alternate 0.8s ease-in-out;
	-moz-animation: ye2 infinite alternate 0.8s ease-in-out;
	-webkit-animation: ye2 infinite alternate 0.8s ease-in-out;
	-o-animation: ye2 infinite alternate 0.8s ease-in-out;
}
.ye3{left: 57px;top: 111px;
	transform-origin: 5px 10px;
	-moz-transform-origin: 5px 10px;
	-webkit-transform-origin: 5px 10px;
	-o-transform-origin: 5px 10px;
	animation: ye3 infinite alternate 0.5s ease-in-out;
	-moz-animation: ye3 infinite alternate 0.5s ease-in-out;
	-webkit-animation: ye3 infinite alternate 0.5s ease-in-out;
	-o-animation: ye3 infinite alternate 0.5s ease-in-out;
}
.ye4{left: 273px;top: 63px;
	transform-origin: 5px 16px;
	-moz-transform-origin: 5px 16px;
	-webkit-transform-origin: 5px 16px;
	-o-transform-origin: 5px 16px;
	animation: ye4 infinite alternate 1s ease-in-out;
	-moz-animation: ye4 infinite alternate 1s ease-in-out;
	-webkit-animation: ye4 infinite alternate 1s ease-in-out;
	-o-animation: ye4 infinite alternate 1s ease-in-out;
}
.ye5{left: 335px;top: 0px;
	transform-origin: 7px 10px;
	-moz-transform-origin: 7px 10px;
	-webkit-transform-origin: 7px 10px;
	-o-transform-origin: 7px 10px;
	animation: ye5 infinite alternate 0.3s ease-in-out;
	-moz-animation: ye5 infinite alternate 0.3s ease-in-out;
	-webkit-animation: ye5 infinite alternate 0.3s ease-in-out;
	-o-animation: ye5 infinite alternate 0.3s ease-in-out;
}
.ye6{left: 395px;top: 72px;
	transform-origin: 6px 18px;
	-moz-transform-origin: 6px 18px;
	-webkit-transform-origin: 6px 18px;
	-o-transform-origin: 6px 18px;
	animation: ye6 infinite alternate 0.3s ease-in-out;
	-moz-animation: ye6 infinite alternate 1s ease-in-out;
	-webkit-animation: ye6 infinite alternate 0.3s ease-in-out;
	-o-animation: ye6 infinite alternate 0.3s ease-in-out;
}
.ye7{left: 94px;top: 82px;
	animation: ye7 infinite 8s ease-in-out;
	-moz-animation: ye7 infinite 8s ease-in-out;
	-webkit-animation: ye7 infinite 8s ease-in-out;
	-o-animation: ye7 infinite 8s ease-in-out;
}


@keyframes ye1
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-moz-keyframes ye1
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-webkit-keyframes ye1
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-o-keyframes ye1
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@keyframes ye2
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-moz-keyframes ye2
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-webkit-keyframes ye2
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-o-keyframes ye2
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@keyframes ye3
{
	0%  {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-moz-keyframes ye3
{
	0%  {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-webkit-keyframes ye3
{
	0%  {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-o-keyframes ye3
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@keyframes ye4
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-moz-keyframes ye4
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-webkit-keyframes ye4
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-o-keyframes ye4
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@keyframes ye5
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-moz-keyframes ye5
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-webkit-keyframes ye5
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@-o-keyframes ye5
{
	0% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
}

@keyframes ye6
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-moz-keyframes ye6
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-webkit-keyframes ye6
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-o-keyframes ye6
{
	0% {
		transform: rotate(15deg);
		-ms-transform:rotate(15deg);
		-moz-transform:rotate(15deg);
		-webkit-transform:rotate(15deg);
		-o-transform:rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}


@keyframes ye7
{
	0% , 50%  {
		left: 100px;
    	top: 102px;
	}
	100% {
		left: 90px;
    	top: 72px;
	}
}
@-moz-keyframes ye7
{
	0% , 75% , 100%  {
		left: 100px;
    	top: 102px;
	}
	25% , 50% {
		left: 90px;
    	top: 72px;
	}
}
@-webkit-keyframes ye7
{
	0% , 50%  {
		left: 100px;
    	top: 102px;
	}
	100% {
		left: 90px;
    	top: 72px;
	}
}
@-o-keyframes ye7
{
	0% , 50%  {
		left: 100px;
    	top: 102px;
	}
	100% {
		left: 90px;
    	top: 72px;
	}
}



