/*--------------------------
--------- PRELOADER --------
--------------------------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 1001; /* makes sure it stays on top */
}

#status {
  width:100%;
  height:400px;
  position:absolute;
  left:0%; /* centers the loading animation horizontally one the screen */
  top:15%; /* centers the loading animation vertically one the screen */
  background-image:url(../image/index/load.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  /*margin:-100px 0 0 -100px;*/ /* is width and height divided by two */
  }

.carousel {
	margin-bottom:50px;
}

.carousel .item{
	height:750px;
}

.carousel .highlight {
	color: #0000CD;
}

.carousel-caption  p {
	margin-bottom:20px;
	font-size:20px;
	line-height:1.8;
}

#nino-container .col-md-4{
	text-align:center;
}
